asgiref==3.8.1
django==5.2 
django-crispy-forms==2.4 
django-debug-toolbar==6.0.0 
dotenv==0.9.9 
gunicorn==25.0.1 
packaging==26.0 
pillow==12.0.0 
python-dotenv==1.1.1 
sqlparse==0.5.3 
tzdata==2025.2